<h2>本文</h2>
<%= link_to '新規投稿', '/items/new',class: "item_new" %>
<% @items.each do |item| %>
  <%= item.title %>
  <%= item.image %>
  <%= item.nickname %>
  <%= item.likes %>
  <%= item.bads %>
<% end %>
