<%= form_with model: @item,local: true,url: items_path, method: :POST do |f| %>
  <div class="title">タイトル</div>
    <%= f.text_field :title %>
  <div class="title">ニックネーム</div>
    <%= f.text_field :nickname %>
  <div class="title">本文</div>
    <%= f.text_area :text %>
  <div class="title">画像</div>
    <%= f.file_field :image %>  
  <%= f.submit "送信" %> 
<% end %>
